header.landing-header
  nav.landing-nav
    .nav-left
      h1.nav-title: a(href="/") MemeHub
    .nav-right
      div.right-padding
        a.nav-link(href="/users/sign-in") Sign In
      div.right-padding
        a.nav-link(href="/users/sign-in") Try Demo
      div.right-padding
        button(onclick="location.href='/users/new'") Get Started
