extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug
include ./mixins/form-utils.pug

append head
  link(rel="stylesheet" href="/stylesheets/user-page.css")
  link(rel="stylesheet" href="/stylesheets/components/about-page.css")
  link(rel='stylesheet' href='/stylesheets/components/new-meme.css')

block content
  if isCurrentUser
    .root-new-meme
      +validationErrorSummary(errors)
      form.new-meme-form(action=`/users/${profileUser.id}/about/edit` method='post')
        h1.user-page Edit Your Profile...
        input(type='hidden' name='_csrf' value=csrfToken)
        div.spacing
        +field("Biography: ", 'biography', profileUser.biography, 'textarea')
        div.spacing
        +field("Profile Picture: ", 'profilePicture', profileUser.profilePicture, 'textarea')
        div.spacing
        div.post-cancel
          a.small-font(href=`/users/${profileUser.id}/about`) Cancel
          button.edit-meme-button(type='submit') Update Profile
