.dropdown-section
  a (href=`/users/${user.id}`): img.dropdown-user-photo(src="#", alt="#"):
  a.dropdown-user-name(href="/users/${user.id}") Demo User
  a.dropdown-user-handle(href="/users/${user.id}") @demouser
.dropdown-section
  .dropdown-links
    a(class="dropdown-link" href="/memes/new") Share a meme
    a(class="dropdown-link" href="/users/${user.id}/memes") Memes
    a(class="dropdown-link" href="/sign-out") Sign out
