extends layout.pug

include ./mixins/follows.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  //- add page specific js
  script(src="/javascripts/follow-button.js" type="module" defer)
//- TODO: replace header with user-profile header
block content
  .root
    .followers-title-container
      h2.followers-title #{count} Followers
    .followers-container
      each follower in followers
        +followBlock("#", follower.id, follower.username, "bio")
        +followButton(follower.id, userId)
