extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  link(rel="stylesheet" href="/stylesheets/components/user-header.css")
  link(rel="stylesheet" href="/stylesheets/user-follows.css")

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId, profileFollowId, count)
  .root
    .follows-container
      .follows-title-container
        h2.follower-count #{count} Follower(s)
      if followers
        each follower in followers
          .follow-block
            +followBlock(follower, currentUserId, follower.isMutual ? "Following" : "Follow", follower.followId, follower.isMutual ? "unfollow-button" : "follow-button")
