extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  link(rel="stylesheet" href="/stylesheets/user-follows.css")
  //- add page specific js

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId, profileFollowId, count)
  .root
    .follows-container
      .follows-title-container
        h2.follow-count #{count} Following
        p.following-caption Ordered by most recently followed
      if followings
        each following in followings
          .follow-block
            if following.isMutual
              +followBlock(following, currentUserId, "Following", following.followId, "unfollow-button")
            else
              +followBlock(following, currentUserId, "Follow", following.followId, "follow-button")
