extends layout.pug

include ./mixins/follows.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  link(rel="stylesheet" href="/stylesheets/components/followers.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-block.css")
  //- add page specific js

  script(src="/javascripts/index.js" type="module" defer)
//- TODO: replace header with user-profile header
block content
  .root
    .followers-title-container
      h2.followers-title #{count} Followers
    .followers-container
      each user in followers
        .followers-block
          if user.mutual
            +followBlock("#", user.id, user.username, "bio", currentUserId, "Following")
          else
            +followBlock(user.id, currentUserId, "Follow")
