extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  link(rel="stylesheet" href="/stylesheets/components/followers.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-block.css")
  //- add page specific js

  script(src="/javascripts/index.js" type="module")
//- TODO: replace header with user-profile header
block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId)
  .root
    .followers-title-container
      h2.follow-count #{count} Follower(s)
    if followers
      .followers-container
        each follower in followers
          .followers-block
            if follower.isMutual
              +followBlock("#", follower.id, follower.username, "bio", currentUserId, "Following")
            else
              +followBlock("#", follower.id, follower.username, "bio", currentUserId, "Follow")
