extends layout.pug

include ./mixins/follows.pug
include ./mixins/userpage-header.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  link(rel="stylesheet" href="/stylesheets/components/following.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-block.css")
  //- add page specific js

block content
  +userpageHeader(profileUser.username, profileUser.id, isCurrentUser, isFollowing, currentUserId)
  .root
    .following-title-container
      h2.follow-count #{count} Following
      p.following-caption Ordered by most recently followed
    if followings
      .following-container
        each following in followings
          .following-block
            if following.isMutual
              +followBlock("#", following.id, following.username, "bio", currentUserId, "Following")
            else
              +followBlock(following.id, following.username, "bio", currentUserId, "Follow")
