extends layout

include ./mixins/memes.pug
include ./mixins/recommended.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  link(rel="stylesheet" href="/stylesheets/components/home.css")
  link(rel="stylesheet" href="/stylesheets/components/feed-block.css")
  link(rel="stylesheet" href="/stylesheets/components/follow-button.css")
  link(rel="stylesheet" href="/stylesheets/components/recommended-followers.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .root
    .feed-container
      .feed-toggles
        .feed-toggles-left
          a(href="/you") Following
        .feed-toggles-right
          a(href="/hot") Hot
          a(href="/trending") Trending
          a(href="/recent") Recent
      .feed-memes
        each meme in feedMemes
          +memeBlock("#", meme.User.username, meme.link, meme.id, meme.userId, meme.headline, "Dec 8", meme.caption)
    .right-container
      .recommended-follows-container
        .recommended-title-container
          h3.recommended-title Who to follow
        .recommended-blocks-container
          each dev in developers
            +recommended(dev.id, "to be filled", dev.fullName, currentUserId, dev.isFollowing)
