extends layout

include ./mixins/memes.pug
include ./mixins/recommended.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/home.css")
  //- add page specific js
  script(src="/javascripts/home.js" type="module")

block content
  .root
    .left-container
      .feed-container
        .feed-toggles
          .feed-toggle
            a(href="/you" class="following") Following
          .feed-toggle
            a(href="/hot" class="hot") Hot
          .feed-toggle
            a(href="/trending" class="trending") Trending
          .feed-toggle
            a(href="/recent" class="recent") Recent
        .feed-memes-container
          .feed-memes
            each meme in feedMemes
              +memeBlock(meme.User.profilePicture, meme.User.username, meme.link, meme.id, meme.userId, meme.headline, meme.updatedAt, meme.caption)
    .right-container
      .recommended-follows-container
        .recommended-title-container
          h2.recommended-title Who to follow
        .recommended-blocks-container
          each dev in developers
            +recommended(dev, currentUserId)
