extends layout

include utils.pug

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/main-styles.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  .root
    .trending-memes
      h2 TRENDING ON MEMEHUB
        .trending-meme
          p.trending-rank 01
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @demo
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
        .trending-meme
          p.trending-rank 02
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @davidlee
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
        .trending-meme
          p.trending-rank 03
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @willduffy
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
        .trending-meme
          p.trending-rank 04
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @anthonyadams
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
        .trending-meme
          p.trending-rank 05
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @minukim
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
        .trending-meme
          p.trending-rank 06
          img.trending-user-logo(src=`#`)
          a.trending-username(href=`#`) @demo
          a.trending-title(href=`#`) Check Out This Fat Cat
          p.trending-date Dec 8
