extends layout

include ./mixins/memes.pug
include ./mixins/recommended.pug

append head
  link(rel="stylesheet" href="/stylesheets/home.css")

block content
  .root
    .feed-container
      .feed-toggles
        .feed-toggles-left
          a(href="/you") Following
        .feed-toggles-right
          a(href="/hot") Hot
          a(href="/trending") Trending
          a(href="/recent") Recent
      .feed-memes-loggedIn
        each meme in feedMemes
          +memeBlock(meme.User.profilePicture, meme.User.username, meme.link, meme.id, meme.userId, meme.headline, "Dec 8", meme.caption)
    .right-container
      .recommended-follows-container
        div.stick-container
          .recommended-title-container
            h3.recommended-title Who to follow
            div.dev-spacing
          .recommended-blocks-container
            each dev in developers
              div.dev-spacing
                +recommended(dev, currentUserId)
