include layout.pug
include ./mixins/memes.pug

append head
  link(rel="stylesheet" href="/stylesheets/landing-page.css")

block content
  .landing-root
    header.landing-header
      nav.landing-nav
        .nav-left
          h1.nav-title: a(href="/") MemeHub
        .nav-right
          div.right-padding
            a.nav-link(href="/users/sign-in") Sign In
          div.right-padding
            a.nav-link(href="/users/sign-in") Try Demo
          div.right-padding
            div
              button(onclick="location.href='/users/new'") Get Started
            //- TODO: render demo sign-in

      .landing-header-main
        div
          h2 Memehub is a place to post, laugh, and connect
          div.header-main-spacing
            p It's easy and free to post your thinking on any topic and connect with millions of readers.
            div.header-main-spacing
              button.modal-button(onclick="location.href='/users/new'") Start Posting
            div.header-main-spacing
        div.right-side-header
          img.header(src="https://i.ibb.co/TYPs2CK/Screenshot-2021-12-19-212747.png")
    div.landing-hr
      div.margin-body
        div.trending-content
          .trending-titles
            h2.trending-title TRENDING ON MEMEHUB
          .trending-memes-container
            each meme in trendingMemes
              +trendingMemeLoggedOut(`0${i++}`, meme.id, meme.link, meme.User.profilePicture, meme.userId, meme.User.username, meme.headline, "Dec 8")
  div.meme-feed-spacing
      .landing-feed
        each meme in feedMemes
          +memeBlockLoggedOut(meme.User.profilePicture, meme.User.username, meme.link, meme.id, meme.userId, meme.headline, "Dec 8", meme.caption)
