include layout.pug
include ./mixins/memes.pug

append head
  link(rel="stylesheet" href="/stylesheets/landing-page.css")

block content
  .landing-root
    header.landing-header
      nav.landing-nav
        .nav-left
          h1.nav-title: a(href="/") Memehub
          if !locals.authenticated
            .nav-right
              a.nav-link(href="/users/sign-in") Sign In
              a.nav-link(href="/users/sign-in") Try Demo
              button(onclick="location.href='/users/new'") Get Started
              //- TODO: render demo sign-in

        .dropdown
          if locals.authenticated
            include dropdown.pug
      .landing-header-main
        h2 Memehub is a place to post, laugh, and connect
        p It's easy and free to post your thinking on any topic and connect with millions of readers.
        //- button(onclick="location.href='/users/new'" type=button) Start Posting
        button.modal-button Start Posting
    .trending-memes-container
      .trending-title
        h2 TRENDING ON MEMEHUB
      .trending-memes
        each meme in trendingMemes
          +trendingMeme(`0${i++}`, meme.id, meme.link, meme.User.profilePicture, meme.userId, meme.User.username, meme.headline, "Dec 8")
    .landing-feed
      h2 "main feed goes here"
      each meme in feedMemes
        +memeBlock(meme.User.profilePicture, meme.User.username, meme.link, meme.id, meme.userId, meme.headline, "Dec 8", meme.caption)
