header
  nav.header-nav
    .nav-left
      a(href="/") Memehub
      if !locals.authenticated
        .nav-right
          a(href="/users/sign-in") Sign In
          a(href="/users/new") Get Started
          a(href="/users/sign-in") Demo
          //- TODO: render demo sign in
    .dropdown
      if locals.authenticated
        include dropdown.pug
