doctype html
html
  head
      block head
        title="MemeHub"
        link(rel='stylesheet' href='/stylesheets/main-styles.css')
        link(rel="stylesheet" href="/stylesheets/components/main-nav.css")
        link(rel="stylesheet" href="/stylesheets/components/dropdown.css")

        script(src="/javascripts/index.js" type="module" defer)
  body
    if locals.authenticated
      include main-nav.pug
    else
      include ./includes/landing-header.pug
    block content
    block foot
      #footer.footer
        div.footer-div
          div.footer-logo
            a.footer-logo(href='/') MemeHub
          div.footer-content
            a.footer-content(href='https://github.com/minuminukim/memehub-express-project')
              img.footer-img(src=`https://cdn-icons-png.flaticon.com/512/25/25231.png` alt='github')
            a.footer-content(href='https://www.facebook.com/')
              img.footer-img(src=`https://w7.pngwing.com/pngs/404/327/png-transparent-black-facebook-logo-computer-icons-social-media-youtube-facebook-messenger-social-media-logo-internet-social-network-thumbnail.png` alt='facebook')
            a.footer-content(href='https://www.linkedin.com/school/app-academy/people/?d_utk=c609d793-13dd-4f72-9d15-0516f03605cf&_om=758094')
              img.footer-img(src=`https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_black-512.png` alt='linkedin')
            a.footer-content(href='https://www.appacademy.io/enterprise/hiring?utm_medium=ppc&utm_source=google&utm_campaign=14640069351&gclid=EAIaIQobChMI4caNiq7r9AIVBvfjBx32sAAIEAAYASAAEgIm2PD_BwE')
              img.footer-img.aa(src=`https://assets-global.website-files.com/5dcc7f8c449e597ed83356b8/5dcf6294afa6ed60b2324b60_logo-full-white-1000.png` alt='App Academy')
