doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/main-styles.css')
        link(rel="stylesheet" href="/stylesheets/components/main-nav.css")
        link(rel="stylesheet" href="/stylesheets/components/dropdown.css")

        script(src="/javascripts/index.js" type="module" defer)
  body
    if locals.authenticated
      include main-nav.pug
    block content
    block foot
      #footer.footer
        div.footer-div
          div.footer-logo
            a.footer-logo(href='/') MemeHub
          div.footer-content
            a.footer-content(href='/') About
            a.footer-content(href='/') Contact
