header
  nav.header-nav
    div.nav-logo
      a.nav-logo(href="/") MemeHub
    div.nav-content
      div.nav-content
        a.nav-search(href="/search") Search
      div.nav-content
        button.dropdown-button: img.dropdown-img-button(src=`${user.profilePicture}`)
        if locals.authenticated
          include dropdown.pug
