header
  nav.header-nav
    div.nav-logo
      a.nav-logo(href="/") MemeHub
    div.nav-content
      a.nav-search(href="#") Search
      button.dropdown-button: img.dropdown-img-button(src=`${user.profilePicture}`)
      if locals.authenticated
        include dropdown.pug
