header.has-main-nav
  .main-nav
    .main-nav-left
        a(href="/"): img.nav-logo(src="/images/medium-logo-cropped.png")
        a.nav-title(href="/") MemeHub
    .main-nav-right
      .nav-content
        a.nav-search(href="/search"): img.nav-search(src="/images/search-icon.png")
      .nav-content
        button.dropdown-button: img.dropdown-img-button(src=`${user.profilePicture}`)
        if locals.authenticated
          include dropdown.pug
