extends layout.pug

include ./mixins/form-utils.pug

block content
  div.spacing-more
  .root-new-meme
    h1.user-page Edit Your Meme
      div.form
      +validationErrorSummary(errors)
      form(action=`/memes/${meme.id}/edit` method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div.spacing
        +field('Headline: ', 'headline', meme.headline)
        div.spacing
        +field('Caption: ', 'caption', meme.caption)
        div.spacing
        +field('Link: ', 'link', meme.link)
        div.post-cancel
          button.submit-meme-button(type='submit') Update Meme
          div.spacing-more
          a.small-font(href=`/memes/${meme.id}`) Cancel
