extends layout.pug

include utils.pug

block content
  h3 Edit Your Meme
  +validationErrorSummary(errors)
  form(action=`/memes/${meme.id}/edit` method='post')
    input(type='hidden' name='_csrf' value=csrfToken)
    +field('Headline', 'headline', meme.headline)
    +field('Caption', 'caption', meme.caption)
    +field('Link', 'link', meme.link)
    div
      button(type='submit') Update Meme
      a(href=`/memes/${meme.id}`) Cancel
