extends layout.pug

include ./mixins/form-utils.pug

append head
  link(rel='stylesheet' href='/stylesheets/components/post-and-edit-form.css')

block content
  .root
    +validationErrorSummary(errors)
    form.edit-meme-form(action=`/memes/${meme.id}/edit` method='post')
      h1.form-title Edit Your Meme...
      input(type='hidden' name='_csrf' value=csrfToken)
      div.spacing
      +field(null, 'headline', meme.headline, 'textarea', 'Enter your headline here..')
      div.spacing
      +field(null, 'caption', meme.caption, 'textarea', 'Enter your caption here..')
      div.spacing
      +field(null, 'link', meme.link, 'textarea', 'Enter your link here..')
      div.post-cancel
        a.cancel-button(href=`/memes/${meme.id}`) Cancel
        button.edit-meme-button(type='submit') Update Meme
