extends layout.pug

include utils.pug

block content
  div.spacing-more
  p.username= `Draft meme for ${user.dataValues.username}`
  .root-new-meme
    h1.head-color Meme
      div.form
      +validationErrorSummary(errors)
      form(action='/memes/new' method='post')
        input(type='hidden' name='_csrf' value=csrfToken)
        div.spacing
        +field(null, 'headline', headline, 'text', 'Enter your headline here...')
        div.spacing
        +field(null, 'caption', caption, 'text', 'Enter your caption here...')
        div.spacing
        +field(null, 'link', link, 'text', 'Enter your link here...')
        div.post-cancel
          button.post-glow(type='submit') Post Meme
          div.spacing-more
          a.small-font(href='/') Click Here To Cancel
