extends layout.pug

include ./mixins/form-utils.pug
include ./mixins/user-feed-meme.pug
include ./mixins/memes.pug

append head
  link(rel='stylesheet' href='/stylesheets/components/search-page.css')
  link(rel='stylesheet' href='/stylesheets/components/feed-block.css')

block content
  .root
    +validationErrorSummary(errors)
    form(action='/search' method='post' class='search-form')
      .form-header
        h1.form-title Search
      .form-fields
        input(type='hidden' name='_csrf' value=csrfToken)
        +field(null, 'search', search, 'text', 'Find a meme by a keyword in the headline or caption...')
      .post-cancel
        button.submit-button(type='submit') Search
        a.cancel-button(href='/') Cancel
    if search
      hr.bottom
      if findMeme.length === 0
        .search-meme-feed
          h1 We couldn't find any posts.
      else
        .search-meme-feed
          each meme in findMeme
            +memeBlock(meme)
