extends sign-up.pug
include ./mixins/form-utils.pug

append head
  //- link(rel="stylesheet" href="/stylesheets/components/sign-form.css")
  //- script(link="/javascripts/form-errors.js" type="module")
  script(src="/javascripts/demo-user.js" type="module")
block content
  +validationErrorSummary(errors)
  main
    form(action='/users/sign-in' method='post' id='sign-in-form')
      .form-header
        h2 Welcome back.
        p Enter the email address and password associated with your account, and we'll send you on your way.
      input(type='hidden' name='_csrf' value=csrfToken)
      .form-fields
        +field('Your email', 'email', email)
        +field('Password', 'password', null, 'password')
      .form-buttons
        button.form-button(type='submit') Continue
        button.form-button(class='demo-button' type='submit') Demo
      .form-links
        p No account?
        a(href='/users/new') Create one
