extends layout.pug
include ./mixins/form-utils.pug

block scripts
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap")
  link(rel="stylesheet" href="/stylesheets/reset.css")
  link(rel="stylesheet" href="/stylesheets/index.css")
  link(rel="stylesheet" href="/stylesheets/components/sign-form.css")
  link(rel="stylesheet" href="/stylesheets/components/errors.css")
  script(src="/javascripts/demo-user.js" type="module")
  script(src="/javascripts/form-errors.js" type="module")

block header
  nav.form-nav
    .nav-logo-container
      a(href="/"): img.nav-logo(src="/images/medium-logo-cropped.png")
      .nav-title-container
        h1.nav-title: a(href="/") MemeHub
block content
  +validationErrorSummary(errors)
  main
    form(action='/users/new' method='post' id='sign-up-form')
      .form-header
        h2 Join MemeHub.
        p Enter your information to create an account.
      input(type='hidden' name='_csrf' value=csrfToken)
      .form-fields
        +field('Username', 'username', user.username)
        +field('First name', 'firstName', user.firstName)
        +field('Last name', 'lastName', user.lastName)
        +field('Your email', 'email', user.email, 'text')
        +field('Password', 'password', user.password, 'password')
        +field('Confirm Password', 'confirmPassword', '', 'password')
      .form-buttons
        button(type='submit' class='register-button') Continue
        button(class='demo-button' type='button') Try Demo
      .form-links
        p Already have an account?
        p: a(href='/users/sign-in') Sign in
block foot
