extends layout.pug

include utils.pug


block content
  .root
    +validationErrorSummary(errors)
    p Please Sign In Below
    form(action='/users/sign-in' method='post')
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email', 'email', email) (class= "email-form")
      +field('Password', 'password', null, 'password')
      div
        button(type='submit') Sign In
        a(href='/') Cancel
    div
      p: a(href='/users/new') New User? Sign Up Here
