extends layout.pug

include utils.pug

append head
  script(src="/javascripts/demo-user.js" type="module" defer)

block content
  .root
    div.spacing-more
    +validationErrorSummary(errors)
    h1.sign-in Welcome Back
    form(action='/users/sign-in' method='post' id="sign-in-form")
      input(type='hidden' name='_csrf' value=csrfToken)
      +field('Email: ', 'email', email)
      +field('Password: ', 'password', null, 'password')
      div.spacing-more
        div.sign-in-buttons
          button.sign-in-button(type='submit') Sign In
          button.sign-in-button Demo
      div.spacing-more
        p: a.sign-in(href='/users/new') New User? Sign Up Here
