.comment-box{
    /* display:flex; */
    /* align-items: center;
    justify-content: center; */
    border: black solid 1px;
    width: 100%;
    list-style-type: none;
}

.comment-box-header{
    font-weight:bold;
    font-size: 25px;
    color: #5bb6f3;
}

div.comment-header{
    font-weight:bold;
    font-size: 25px;
    color: #5bb6f3;
}

.content {
    height:60px;
    width: 100%;
    /* text-align: center; */

}

.add-button{
    border: #FCD200 solid 1px;
    font-size: 13px;
    background-color: #FFD814;
    color: black;
    padding: 5px 8px;
    border-radius: 7px;

}

.add-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.delete-button{
    padding-top: 4px;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
    color: white;
    background-color: rgb(226, 23, 23);
    font-size: 12px;
    margin-top: 5px;
}


.delete-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.edit-button{
    border-radius:5px;
    font-weight:bold;
    color:white;
    background-color: rgb(71, 163, 224);
    font-size: 10px;
    margin-top: 5px;
    margin-left:2px;
    padding: 2px 8px;
}

.edit-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

div.add-comment-button{
    display:flex;
    justify-content: right;
    padding-top: 5px;
}


li button{
    display:inline-block;
    float: right;
}


div.fixed-position{
    border-radius: 8px;
    background-color:#8936d6;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
}

div.profile-name-bar p {
    color: white;
}

div.users-followers-details a{
color:white;
}

div.user-feed{
    background-color: rgb(238, 236, 236);
}
