.comment-box{
    /* display:flex; */
    /* align-items: center;
    justify-content: center; */
    border: grey solid 2px;
    width: 100%;
    list-style-type: none;
}

.comment-box-header{
    font-weight:bold;
    font-size: 25px;
}

.content {
    height:60px;
    width: 100%;
    /* text-align: center; */

}

.add-button{
    border: black solid 2px;
    font-size: 15px;
    background-color: rgb(12, 167, 12);
    color: white;
    padding: 5px 5px;
    border-radius: 7px;
    font-weight: bold;

}

.add-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.delete-button{
    border-radius: 5px;
    padding: 2px 2px;
    font-weight: bold;
    color: white;
    background-color: red;
    font-size: 10px;
    margin-top: 5px;
}


.delete-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.edit-button{
    border-radius:5px;
    font-weight:bold;
    color:white;
    background-color: rgb(71, 163, 224);
    font-size: 10px;
    margin-top: 5px;
    margin-left:2px;
    padding: 2px 8px;
}

.edit-button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}
