.dropdown-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 2em;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  color: #757575;
  font-size: 14px;
  width: 200px;
  z-index: 400;
  box-shadow: 0 0 5px 3px #f2f2f2;
}

.hide {
  display: none;
}

.dropdown-top {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}

.dropdown-bottom {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #e6e6e6;
}

.dropdown-user-name {
  color: #292929;
}

.container-right {
  display: flex;
  flex-direction: column;
}
.dropdown-container a {
  font-size: 14px;
  text-decoration: none;
}

.dropdown-container a:hover,
.sign-out-button:hover {
  color: #000;
}

.container-left {
  align-items: flex-start;
  justify-content: flex-start;
}

.sign-out-button {
  color: #757575;
  border: 0;
  background-color: white;
  cursor: pointer;
}

.dropdown-item {
  margin: 1rem;
}

.user-name-margin {
  margin-bottom: 10px;
}

.dropdown-user-photo {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

