.meme-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: 480px;
}

.meme-signature {
  display: flex;
  color: #292929;
  font-size: 13px;
}

.user-link {
  color: #292929;
  font-size: 13px;
}

.meme-title {
  font-size: 22px;
  font-weight: bold;
  color: #292929;
}

.meme-caption {
  font-size: 16px;
  color: #757575;
}

.meme-date {
  font-size: 13px;
  color: #757575;
  justify-items: flex-start;
}

div.date-left {
  display: flex;
  justify-content: flex-start;
}

div.title-left {
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
}

div.caption-left {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
}


.meme-image {
  width: 100%;
  height: auto;
  overflow: hidden;
}
