/* general layout */

.root {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  column-gap: 20px;
}

.feed-toggles {
  grid-column: 2 / 9;
  display: flex;
}

.feed-container {
  grid-column: 2 / 9;
  margin-top: 25px;
}

.right-container {
  grid-column: 9 / 12;
}

.feed-toggles {
  display: flex;
  justify-items: space-around;
  margin-bottom: 25px;
}

.feed-toggles a {
  text-transform: uppercase;
  font-size: 13px;
  color: #757575;
  justify-items: space-around;
  padding-right: 15px;
}

div.dev-spacing {
  margin-bottom: 25px;
}


.feed-container a {
  text-decoration: none;
}


@media screen and (max-width: 900px) {
  .feed-container {
    grid-column: 1 / 13;
  }

  .feed-memes-loggedIn {
    border: 0;
  }

  .right-container {
    display: none;
  }
}
