nav.header-nav {
  display: flex;
  align-items: flex-start;
  /* margin: 0 10%; */
  /* width: 100vw; */
  justify-content: space-between;
}

.nav-left,
.nav-right{
  display: flex;
  align-items: flex-end;
  margin-left: 600px;
}
