
div.header-main button {
  margin-top:25px;
  padding: 5px;
  border-radius: 99em;
  margin-left: -465px;
}

div.header-main h2{
  font-size: 55px;
  text-align: left;
}

div.header-main{
  color:black;
  justify-content: flex-start;
  padding-bottom: none;
  margin-left: 150px;
  width: 37%;
}

div.header-main p{
  margin-top:8px;
  text-align: left;
}
