/* .right-container {
  display: flex;
  flex-direction: column;
}
.recommended-follows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recommended-blocks-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  width: 100%;
  align-items: center;
}

div.stick-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  margin-right: 100px;
  margin-top: 25px;
}
.recommended-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

.rec-mid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  align-content: flex-start;
  align-self: flex-start;
  flex-wrap: wrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 250px;
}

p.recommended-bio-p {
  max-width: 250px;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

div.recommended-bio {
  margin-top: 10px;
}

.recommended-username {
  font-weight: 700;
  text-decoration: none;
}

.recommended-title {
  font-weight: 500;
}

.follow-button,
.unfollow-button {
  border: 1px solid #848583;
  background-color: #fff;
  color: #000;
  height: 2rem;
  padding: 0 0.8rem;
}

.recommended-block .unfollow-button {
  background-color: #000;
  color: #fff;
}

.follow-button:hover {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}

.user-photo {
  max-height: 30px;
  max-width: 30px;
} */

.recommended-follows-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 400px;
  max-width: 360px;
  border: 1px solid green;
  position: sticky;
  top: 33vh;
  z-index: 1;
}

.recommended-title-container {
  align-self: flex-start;
}

h2.recommended-title {
  color: #292929;
  font-size: 16px;
  font-weight: 500;
}

.recommended-blocks-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  align-items: center;
}

.recommended-block {
  display: grid;
  grid-template-columns: 48px minmax(auto, 190px) minmax(32px, 64px);
  align-items: center;
  height: 80px;
  max-width: 360px;
  padding-top: 1em;
}

.recommended-photo {
  border-radius: 50%;
  height: 48px;
  width: 48px;
}

.recommended-username {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  padding-bottom: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.recommended-bio {
  color: #757575;
  font-size: 13px;
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.rec-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 1em;
}

.rec-right {
  justify-self: flex-end;
}

.follow-button,
.unfollow-button {
  border: 1px solid #848583;
  background-color: #fff;
  color: #000;
  height: 2rem;
  padding: 0 0.8rem;
  max-width: 85px;
}

.recommended-block .unfollow-button {
  background-color: #000;
  color: #fff;
}

.follow-button:hover {
  background-color: #fff;
  border-color: rgba(0, 0, 0, 0.9);
  color: rgba(0, 0, 0, 0.9);
}
