html,
body {
  height: 100%;
}

.root {
  height: 100%;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-nav {
  display: flex;
  border: 1px solid green;
  width: 100vw;
  padding: 25px;
  padding-left: 50px;
  height: 80px;
}

.nav-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
}

.nav-title-container {
  height: 25px;
  line-height: 20px;
}

.nav-logo {
  width: auto;
  height: 25px;
  align-self: flex-end;
  padding: 1px 7px 1px 0;
}

.nav-title a {
  font-family: "Playfair Display", serif;
  color: #292929;
  text-decoration: none;
  font-size: 25px;
}

#sign-in-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  min-height: 700px;
  /* height: 100%; */
  border: 1px solid orange;
  padding: 44px 56px;
}

.form-header,
.form-fields,
.field,
.form-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #292929;
  padding-bottom: 30px;
  text-align: center;
}

.form-links {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
}

.form-header {
  max-width: 300px;
}

.form-header h2 {
  text-align: center;
  font-family: Georgia, Cambria, "Times New Roman", serif;
  font-size: 28px;
  line-height: 32px;
  font-weight: 400;
  color: #080808;
  padding-bottom: 30px;
}

.form-header p {
  line-height: 24px;
}

.field {
  min-height: 60px;
}

.field label {
  font-size: 13px;
  padding-bottom: 12px;
}

input {
  border: 0;
  border-bottom: 1px solid #848583;
  text-align: center;
  min-width: 270px;
  min-height: 30px;
  color: #292929;
  font-size: 16px;
}

input:hover {
  border-color: #292929;
}

input:focus {
  outline: none;
  border-color: #292929;
}

.form-buttons button {
  background-color: #191919;
  color: #fff;
  border: 1px solid #848583;
  font-size: 14px;
  border-radius: 20px;
  height: 2.2rem;
  min-width: 230px;
  text-align: center;
}

.demo-button {
  margin-top: 12px;
}

.form-links a {
  text-decoration: none;
  color: #1a8917;
  font-weight: bold;
}

.form-links p {
  padding-right: 2px;
}
/* a.sign-in {
  font-size: 14px;
}

div.sign-in-buttons {
  display: flex;
  justify-content: center;
}

.sign-in-button {
  margin-right: 15px;
  margin-left: 15px;
  background-image: linear-gradient(#f7f8fa, #e7e9ec);
  border-color: #adb1b8 #a2a6ac #8d9096;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0 1px 0 inset;
  box-sizing: border-box;
  color: #0f1111;
  cursor: pointer;
  display: inline-block;
  font-family: "Amazon Ember", Arial, sans-serif;
  font-size: 14px;
  height: 29px;
  font-size: 13px;
  outline: 0;
  overflow: hidden;
  padding-right: 11px;
  padding-left: 11px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  touch-action: manipulation;
  white-space: nowrap;
}

.sign-in-button:active {
  border-bottom-color: #a2a6ac;
}

.sign-in-button:active:hover {
  border-bottom-color: #a2a6ac;
}

.sign-in-button:hover {
  border-color: #a2a6ac #979aa1 #82858a;
}

.sign-in-button:focus {
  border-color: #5bb6f3;
  box-shadow: rgba(42, 184, 240, 0.5) 0 0 3px 2px;
  outline: 0;
} */
