div.userpage-header {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 25px;
}

img.user-meme{
    padding-top: 10px;
    height: 500px;
    width: 500px;
}

h1.user-page {
    color: black;
    font-weight: bolder;
}

h1.user-title {
    color: black;
    font-weight: bold;
}

h2.user-page {
    padding-top: 5px;
    font-size: 20px;
}

hr.user-page {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 201, 201);
    border: 0 none;
    margin-top: 20px;
}

div.userPosts {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "p feed .";
}

div.userPosts.p {
    grid-area: p;
    display: flex;
    padding-top: 50px;
    justify-content: center;
    grid-column: 1 / 2;
}

div.user-feed{
    grid-area: feed;
    display: flex;
    margin-left: 50px;
    justify-content: center;
    grid-column: 2 / 3;
}


div.user-info{
    display: flex;
    justify-content: flex-start;
}

div.end-of-post {
    padding-top: 50px;
}

div.likes-and-comments {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

div.user-comment {
    display: flex;
    justify-content: flex-end;
}

div.edit-delete {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

hr.edit-delete {
    margin-top: 40px;
}

p.posted-on {
    padding-top: 20px;
    font-size: 14px;
}

hr.bottom {
    margin-top: 5px;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 201, 201);
    border: 0 nones
}

hr.bottom.meme-page {
    margin-top: 5px;
    margin-bottom: 15px;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(201, 201, 201);
    border: 0 nones
}

div.bottom-of-page {
    margin-bottom: 40px;
}

div.delete-meme {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
