div.userpage-header {
    padding: 10px;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    background: rgb(59,185,184);
    background: linear-gradient(180deg, rgba(59,185,184,1) 40%, rgba(11,236,234,0.9976798143851509) 69%);
    align-items: center;
}

img.user-meme{
    padding-top: 10px;
    height: 400px;
    width: 400px;
}

h2.user-page {
    padding-top: 5px;
}

div.userPosts {
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

div.end-of-post {
    padding-top: 50px;
}

div.likes-and-comments {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

div.user-comment {
    display: flex;
    justify-content: flex-end;
}
