div.userpage-header {
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 17px;
    padding-bottom: 17px;
    margin: 25px
}

img.user-meme{
    padding-top: 10px;
    height: 400px;
    width: 400px;
}

h1.user-page {
    color: black;
    font-weight: bolder;
}

h1.user-title {
    color: black;
    font-weight: bold;
}

h2.user-page {
    padding-top: 5px;
    font-size: 20px;
}

hr.user-page {
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 212, 212);
    border: 0 none;
    margin-top: 20px;
}

div.userPosts {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

div.end-of-post {
    padding-top: 50px;
}

div.likes-and-comments {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

div.user-comment {
    display: flex;
    justify-content: flex-end;
}

div.edit-delete {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

hr.edit-delete {
    margin-top: 40px;
}

p.posted-on {
    padding-top: 20px;
}

hr.bottom {
    margin-top: 5px;
    width: 100%;
    height: 1px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 212, 212);
    border: 0 none;
}

div.delete-meme {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;

}
